
html,body{
    background-color: white;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.banner{
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu {
    background-color: #d9b554;
}

.menu-item{
    color: black;
    padding: 15px;
    display: inline-block;
    text-decoration: 0;
}

.menu-active{
    color:#f8f7f6    ;
    font: size 40px;
    font-weight: 600;
}

.context{
    text-align: center;
}

.footer{
    background-color: #d9b554    ;
    padding: 25px;
    text-align: center;
    color: white;
}
/* Page 2 About us*/
.background{
    margin-top: 50px;
}

.height{
    height: 1000px;
}

*{box-sizing:border-box}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
      }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.why{
    text-align: center;
}

.background{
    background-color: #f8f7f6  ;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    font-size: 20px;
    padding: 10px;

}

/* Page 6 contact us*/
.grid{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px minmax(250px, auto) minmax(250px, auto) minmax(250px, auto);
    grid-template-areas:
    'header header header'
    'content content content';
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.page-header{
    grid-area: header;
    background-image: url('./images/events/2022.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    background-color:#f8f7f6;
    border: 1px solid #453f3d;
    padding: 16px;
}
/* หน้า Media */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 340px;
    height: 380px;
    border-radius: 5px;
    background-color: #d9b554;
    ;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(168, 167, 165, 0.2);
  }
  .profile-image-box{
    border-radius: 5px 5px 0 0;
    position: relative;
    width: 340px;
    height: 227px;

  }
  
  .topic-content{
    padding: 2px 16px;
  }
  .icon-new{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 5;
  }
  .profile-image{
    height: 227px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    object-position: top;

  }
  .topic-content{
    padding: 2px 16px;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    text-decoration: underline;
    color: #f2f2f2;
  }
  
  a:active {
    text-decoration: underline;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px;
    padding: 20px;
  }

    